OLLAMA_MODEL=llama3.1:8b-instruct-q4_k_m
OLLAMA_TEMPERATURE=0.5
OLLAMA_EMBEDDING_MODEL=nomic-embed-text

# OPENAI_MODEL=gpt-3.5-turbo-0613
# OPENAI_TEMPERATURE=0.2



CHROMA_PERSIST_DIR=./server/chroma_db

# --extra-index-url https://download.pytorch.org/whl/cu121
# torch>=2.0.0
# torchvision
# torchaudio
