OLLAMA_MODEL=llama3.1:8b
OLLAMA_TEMPERATURE=0.5
OLLAMA_EMBEDDING_MODEL=llama2

# OPENAI_API_KEY=your_openai_api_key_here
# OPENAI_MODEL=gpt-3.5-turbo-0613
# OPENAI_TEMPERATURE=0.2

HF_TOKEN=

CHROMA_PERSIST_DIR=./server/chroma_db
