flask
jupyter
transformers
sentencepiece
datasets
accelerate
Faker
safetensors
peft
huggingface_hub
protobuf
huggingface_hub[hf_xet]
hf_xet
diffusers 
ollama==0.4.9
flask-cors
pydub
git+https://github.com/openai/whisper.git
faster-whisper
gunicorn