--extra-index-url https://download.pytorch.org/whl/cpu
torch

flask
jupyter
transformers
sentencepiece
datasets
accelerate
Faker
safetensors
peft
huggingface_hub
protobuf
huggingface_hub[hf_xet]
hf_xet
diffusers 
ollama==0.4.9
flask-cors
pydub
git+https://github.com/openai/whisper.git
faster-whisper
gunicorn
fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-chroma
langchain-ollama
chromadb
openai
python-dotenv
tiktoken
pytest

psycopg2-binary
boto3

celery
redis

openinference-instrumentation-langchain
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp

pyspark
apache-airflow
pandas

email-validator