flask
jupyter
transformers
sentencepiece
datasets
accelerate
Faker
safetensors
peft
huggingface_hub
protobuf
huggingface_hub[hf_xet]
hf_xet
diffusers 
ollama==0.4.9
flask-cors
pydub
git+https://github.com/openai/whisper.git
faster-whisper
gunicorn
fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-chroma
langchain-ollama
chromadb
openai
python-dotenv
tiktoken
pytest

psycopg2-binary==2.9.9
boto3==1.34.60

celery==5.3.6
redis==5.0.3

openinference-instrumentation-langchain==0.1.12
opentelemetry-api==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-exporter-otlp==1.23.0

pyspark==3.5.1
apache-airflow==2.8.3
pandas==2.2.1