<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Config Generation Server</title>
  <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}"> -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet"> -->
</head>

<body>
  <h2>Select Task & Enter Text</h2>
  <form action="/" method="POST">
    <label for="input_text">Enter your text:</label><br>
    <textarea name="input_text" rows="5" cols="50"></textarea><br>
    <input type="submit" value="Submit">
  </form>
</body>

</html>